sudo: required
dist: xenial

language: node_js
node_js:
  - "8"

services:
  - docker

before_install:
  - sudo add-apt-repository "deb [arch=i386] http://us-east-1.ec2.archive.ubuntu.com/ubuntu/ disco universe"
  - sudo add-apt-repository "deb http://us-east-1.ec2.archive.ubuntu.com/ubuntu/ disco universe"
  - sudo apt-get update
  - sudo dpkg --add-architecture i386
  - sudo apt-get install qemu-user-static:1:3.1+dfsg-2ubuntu3:i386
  - sudo apt-get install binfmt-support:2.2.0-2

addons:
  apt:
    packages:
      - kpartx
      - aria2
      - tree
      - python-requests

install:

script: mkdir images && sudo PATH=./node_modules/.bin:$PATH ./builder --noninteractive

env:
  global:
    - secure: "ukHo+YrG6xulVlk3WuZd9ITOlbUiCKEApWZdy0pHkSb5QvOh4k92aPkQfNYec3Kvy878FaRY4jog2EzYCOfnuuGPilKlywgsEAajr5Ox3wj082D2plRsDVW3UjaHaeUxQjJw5yRPfjd1k3MFJfLrVMS2J8Uf0DzCFlnjAdm77AF+MrQN1HP2XdzWb3AkPqHAE/IgxdJqVf6dlgSerl1cAHhqeLvA2gR4HJPPmPc5OYEH+QCMOmNJ2zONjKd5W3mnZlQwnVJ2AcfT7L7w68uqvS/IulPhWXjFy6VSOYi7HJRxezPzf7thL5W/0z8oCcUPvTgbePNAq+g7N3nP6QGDwdYsTzrWoRTwkcpPkB9biWOwXv+TgAD3PyptWUX9XfgAYfsN4iUBKYqSTiNMsknEdo1YAQCxQomZdELkBfrjxYzXXfeoqv44c2fUUBLso5siDhs+9R1k76JeHFpOObUmwlGBHf/TM9LUhaHTdSSIoscxo44VmHSkx06kUwxvKJVNzRQPJdJQK6phLKf4W4bwiRlX+6mh2Y/El2uTfqv2fNmLVvTpQOa0e5BqO4WpONxWVBIerl//Ccxk3SEdfCbxeLQaDwFeMf0k7NvxF6HNslao0Mp9TutIvYaDWtig+TaVO4X5bA4pNCno0i9EwWcs3MNHFtspCdol3GuSHbM6HO8="
    - secure: "GBG1xY1vpnL5Popsq/qNGlFsRdnOut5eEMGM1LgPj2aneOf1ioocbizMjYhzQEMVLqYE0w7gm/DZZogZZ442sKSdRWraCGpwcZt+Xf61WbdzRDGQbTbV8oNlNlsJA51+iM/kY5uHjPkBNJIrZLEcxwEyUCgLKWM0FN1cijgG3NMEwVStoXH+2csOtyENG5bWBe0zZzhA9zK/0FxO/vv1OFjE0ICW1iITmRlMJ1zi/GT9g8hGydCM3DZV3Tr9vOFD2K7QodnlJgujm2PNG9bmDLDGI7AWO49hml5wx8zPQoqMqcWszd+2sgIjSxv18LRzNMnJ6b2tK6l0TohxlmNI1fbfiQih/NomuxjG991Z6ypXCURPWp5n8lqyHYrZ2JGqSd30cxqJGZw7lV65YIl7IMRTNnjEWYrXCz2B5UpZGQ2oFWw80hnQb7xe2jEaWfD9wgEYfIvsMU8L/MpTQE8eC7B/ioU4BQ8GvLoDcolXQEcvJ4YsPXlpPsrYPkZBhE+CGCzUuLY80m1YGU7OQhkrk57wyaMuV5vu5ZFYdGHUTAo2aGqg45XFJjhSgAm/VnS4jv10gK/ZGUzO0+cpzN3jhLkeK3U5JXiYc2+mC/32rtb30gDOYsV64/2nRlXPVuyA1UBDX6M2BDq6MrkRPFFMMmyoMsnqaPGFMNc9Iu0e4lk="

before_deploy:
  - echo "$ssh_deploy_key" | base64 --decode --ignore-garbage > .travis/id_deploy

deploy:
  - provider: script
    skip_cleanup: true
    script: ./.travis/compress.sh
    on:
      all_branches: true
      tags: true
  - provider: s3
    access_key_id: AKIAISP267FQ2JXEHXYA
    secret_access_key:
      secure: F19gjiskDLh2/qjRVjgJhIJlV1vE5yY5ugBrYVL+V+jzWzUA2Er018/fMLLIYpOnwlbsSkHrnn9x48MmFurka5CBe99cuopc8Dl15+ufqb7GMX1zdq7/CWL6h1AAtI97+uZTLMV3K+HAa5jRofOQq9xyNlkb/Gj/SumPvxxzeeA7np8NU6TmHRCt6p3oI9Xc9Su9ojabL4wvuNUvbkPcsHhxkQV8fpfAonzOutG2a4CaNx3BSxjvDN6/ZzqE/NkwvfMLKjfniCXyFfs7n1RA1DmyG5EWnTa0OTRvDutaAdQuPIj5nNCh1vV9ebHn3nH2ywGGvTLGjOmqzPGVA+sGDbqZSEDa/GwR543NnGQO0o1XAAVZ5cc9yYlzqg2u1rISCxfJStf2Hf+ONJV0zWuENizX6yqG/4N/BPnH0Kuxkw18N/wLQKlt//rN+S2hBV6TcuVwTQFpUbfhZK0Bm9KmC+N9L1aEjooF/zLGLWoWWaYoUQkwsSsLxv1c/+mOCvuvDDDuMTRjR49dvEtXf/8Ntk+3lC/ZsKhlEl12zemxLqFH0KkRX7aedcsHs83+KCFxNynedIt3uShmPVuG8sWZQOMsaRZ20XO7LvFwd+XKDRMg5WkHktvTnSUP7xFCNJBL3eKzo2sCx6/VYFVBql2n2rOWL7c2h2FVAXKTTYy/aEI=
    bucket: treehouses
    local-dir: build
    skip_cleanup: true
    on:
      all_branches: true
      tags: true
  - provider: script
    skip_cleanup: true
    script: ./.travis/upload.sh
    on:
      all_branches: true
      tags: true


notifications:
  webhooks:
    urls:
      - secure: "jEmKk13o+RGavkZJ1PpqUX2PvKOEGyec/BmtWZG9h2vBu6xXeW4nN/qfjucGeuYAWUzhYy8bDQTIa+FpFzgejPKyh3+LnSVtKtVSVdfnuJidqFfcS1xEPGbrHyuG8hGikCmicUVY+/s/dmxwTjnHFQRpGGd9uRXFRst1fksujQQFLlusEReRPkXSMrJtwaetiQPTKml+C+37OXOQUgNExQQ/EhDPDN6vl7cCkvF/8eTvRL6yi9BSQEbX0/1pCiMocOHiTHdbBr5nD1jCYMZeSnu/KYuWZbOXTUkEVCj6Mnzl10fTB8xvMxof7P43GrSgGWu9Z2U/ldcgBNIIgQ+ichABHcVDOxhba0bxb3Lb23wZcXJPqr1GYwIMjsecAVxON4FduXvdaUU125pYhnHFQMDY6/RNQs7e5NpiQu135Vo9pUo3QadQZqUkWqWE/AcHp+WTj6oEIao96VGIcAy3kHIbuHGs5UuE4a2mSZI7Z0CH1pKXTZ4BiP1tj6KhqYCYt7C1ESGg8osY+bq4bFc6BxtToxsnqvbKWiSLXippdxRRs5hSc8JZ+rJRVTzWqb1EuKK494LdTJytGXzCp6qrj1uaA/uyleZBNTEQ39RGXE8845yoLApgNwUyS0GyfmVMi8kojx6N6EQ+t0YLjQYkeMrmchhlRv84rA95HsnW01o="
    on_success: always # one of: always, never, change
    on_failure: always
    on_start: always
