sudo: required

language: node_js
node_js:
  - "8"

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce
      - kpartx
      - qemu-user-static
      - aria2
      - tree
      - python-requests
      - pv
      - pigz

install:
  - sudo service docker stop && sudo rm -rf /var/lib/docker && sudo service docker start

script: mkdir images && sudo PATH=./node_modules/.bin:$PATH ./builder --noninteractive

env:
  global:
    - secure: "ukHo+YrG6xulVlk3WuZd9ITOlbUiCKEApWZdy0pHkSb5QvOh4k92aPkQfNYec3Kvy878FaRY4jog2EzYCOfnuuGPilKlywgsEAajr5Ox3wj082D2plRsDVW3UjaHaeUxQjJw5yRPfjd1k3MFJfLrVMS2J8Uf0DzCFlnjAdm77AF+MrQN1HP2XdzWb3AkPqHAE/IgxdJqVf6dlgSerl1cAHhqeLvA2gR4HJPPmPc5OYEH+QCMOmNJ2zONjKd5W3mnZlQwnVJ2AcfT7L7w68uqvS/IulPhWXjFy6VSOYi7HJRxezPzf7thL5W/0z8oCcUPvTgbePNAq+g7N3nP6QGDwdYsTzrWoRTwkcpPkB9biWOwXv+TgAD3PyptWUX9XfgAYfsN4iUBKYqSTiNMsknEdo1YAQCxQomZdELkBfrjxYzXXfeoqv44c2fUUBLso5siDhs+9R1k76JeHFpOObUmwlGBHf/TM9LUhaHTdSSIoscxo44VmHSkx06kUwxvKJVNzRQPJdJQK6phLKf4W4bwiRlX+6mh2Y/El2uTfqv2fNmLVvTpQOa0e5BqO4WpONxWVBIerl//Ccxk3SEdfCbxeLQaDwFeMf0k7NvxF6HNslao0Mp9TutIvYaDWtig+TaVO4X5bA4pNCno0i9EwWcs3MNHFtspCdol3GuSHbM6HO8="
    - secure: "YmLaxJHwa3aaah8hfqEtO54D3bk2Ih4SaiYHJj+BAIR4BvRhWa23s+mPRQ/85avG9X6iD/ercvPSLgpc+AE2xVYcTAK+lu7aPlZsHbvpS2rvZ5SB/nZZouylzCYWSmZgOP/30VD8guxzTP3TjaC+ghyKkfLYF0ZzQa5IAgMYLWG0L7AaIOYQJfe0WxWqNPZ0GyKW6gKj3N2aBPeC6IaTjdRDC9Iiz2FViRQsmIJifrgGEFdwsoMjkJPhoZnDevwHTfo0PxF3N0u8Ngb/A4PVAVULrst00WmqD5KqTOpOO05wPzeiYEPAk1IvLiIs7TtJi7bSF537xrAiKkCVS57OmM20YPAtJRbaz0FUznY8Ml0Hlsnaw0ekBFDkeiIaQ5mGoUmouiAUQUv7uNmIMDVrdvDRw3kW5St77k6zdp5M5cQYQbwROwIek93yFQiMoHAVRpj2EtsI3/7ugyQ511XizJkTZNxIMWwgYAcW4yaFb1qBfAR+4lZ9b/yJfjt7Ohc3bfU+3Xv1aPAw446yeoiHdYAvQB13kByVzdL7M8JB/HwdA7RVDNRPcWv9hjXrzG+FVBNWMgGh34OaZSAG1DdPiahXlNezDoth66991Wqcfl7FwQLuFEr+L7bFXLNcaOweYGJtKR14xu4aPC0BCLjSfm/gn8GT4W0otWNq3BrBKw8="

before_deploy:
  - echo "$ssh_deploy_key" | base64 --decode --ignore-garbage > .travis/id_deploy

deploy:
  provider: script
  skip_cleanup: true
  script: ./.travis/deploy.sh
  on:
    all_branches: true
    tags: true

notifications:
  webhooks:
    urls:
      secure: "Aqo5s4yLOboXOWnK2WfafKQidLe/dlyOEt3hZbQqSX7XiiNgfTaUjkmFJjQrpMcx0lShlW0amd5UadvDbu5PFajaSqW7xagpxTof0w6JWTlaVseQ38olpXn1IgDqJH679ZnOQYpoFKNnvvgQNJ9+xs4lCDitQc+aHVdhVVfxBGQQtj+AOBv6+ILciTCmk+ComzbLjUxSj/TWnao2kR+x2GyXwZ7l3TXnX1/2/c9LCAwh9oA9t5nvvuZBoj3Uk1XHQWpFzfMEltOdCgYyhVqOddlfDNch7HqeHZQU0Y+B9zm3v4lM8s4DaX7gfofjw4yKi5Uj+pT+KePNNIjv+OPsyiXWqhIA7X2N4OSgbr7Fbvlf/IM3vPL+7Su7UtvR5mLUPMa+jEGARsJE68IOpss+oy2x2u2AHKKRA9rtGacVNPt/2EPMZiXSqGRsclft3dEVNEM4ryOZJNg/XHbPNtxEpKsBhPwD1ZpBkp/2NWNojpMTdUbYln1cEwcP6vl+c1KwJsbGs8tjm7ojuGmhAVHDdvm1WsVClROypgjsKiO17lOKOknq3Bv74L8s25Vz0ffDdcaHC2PBvNk2gTbl7Eu675rHujhcHZjXbw1UaTcNO9ZqlQTFXn72x76rIGmuopzKrouxdqAwJe5L2tFjAWYq+8m7/k+ZeuEG2vdDvss9vGc="
      on_success: always # one of: always, never, change
      on_failure: always
      on_start: never
