before_install:
    - sudo apt install qemu-user-static

script: sudo ./treehouse-builder --noninteractive

install: true

deploy:
    provider: releases
    api_key:
        secure: "KalR4x53m+sEILDAayq425M5BdT2k3QEzRv/VD5HlVXBBVB0jATXKOviMH/SLzv2H1SxqqLLPtU2/TZKQDqit+/Lqll4fIJS+kk/mALdTkPawqnB0Clo+V4WvEkjSQyDc4wYWtxzPZNBpJmzVCVhzn3RbHBpY0uG6kmRcqPDqkNCPYBz2G4Y/NgvjPa+9c6eQ9OTsCLYnD7B1sgbQXrCfeKy6ZLgQe2pZs+PvaChOpPdKIzClywzkwnljg6pjw9MDi58SXpCjKO9ufIXobW54CCbpZpAkHUpJBTQVDt4jbiK9hJrike2PO1QWLl6zryfayP92zEU4CiSAzVfi21VBxCYmPRDuVDa4lcvdZvPA+nNJ1fUvtFRA0NivTgZAJYqozm2/r7i9MEE3UL+ZQ9CFN82CPtifdbgaLsOQeCQGNQ/DT+R67/3QqIDs9znJL3pbcKvcpAPhAhduJ3d39E7vrgyUeK3Fxk4UWR+9tuPNyMkZUb/T+m+JfifmAqbEBY5WN2f82gwDqyPYnuWtRn4oTTx/U85btgZxyt4p+gMD0nm3KpxA8ZF226a6t9sorhenAJlGNSKSiifs0srK652rmGQ7TGAqS+r5TilCiTtjFdaQPKfRyvLk4chkrcpwCFJRVOR5lArBMxwyi4JEWdV9tWB+z9YgEBmK7APkgRc/z4="
    file: 2017-04-10-raspbian-jessie.img
    skip_cleanup: true
    on:
        branch: master

notifications:
  webhooks:
    urls:
      secure: "Aqo5s4yLOboXOWnK2WfafKQidLe/dlyOEt3hZbQqSX7XiiNgfTaUjkmFJjQrpMcx0lShlW0amd5UadvDbu5PFajaSqW7xagpxTof0w6JWTlaVseQ38olpXn1IgDqJH679ZnOQYpoFKNnvvgQNJ9+xs4lCDitQc+aHVdhVVfxBGQQtj+AOBv6+ILciTCmk+ComzbLjUxSj/TWnao2kR+x2GyXwZ7l3TXnX1/2/c9LCAwh9oA9t5nvvuZBoj3Uk1XHQWpFzfMEltOdCgYyhVqOddlfDNch7HqeHZQU0Y+B9zm3v4lM8s4DaX7gfofjw4yKi5Uj+pT+KePNNIjv+OPsyiXWqhIA7X2N4OSgbr7Fbvlf/IM3vPL+7Su7UtvR5mLUPMa+jEGARsJE68IOpss+oy2x2u2AHKKRA9rtGacVNPt/2EPMZiXSqGRsclft3dEVNEM4ryOZJNg/XHbPNtxEpKsBhPwD1ZpBkp/2NWNojpMTdUbYln1cEwcP6vl+c1KwJsbGs8tjm7ojuGmhAVHDdvm1WsVClROypgjsKiO17lOKOknq3Bv74L8s25Vz0ffDdcaHC2PBvNk2gTbl7Eu675rHujhcHZjXbw1UaTcNO9ZqlQTFXn72x76rIGmuopzKrouxdqAwJe5L2tFjAWYq+8m7/k+ZeuEG2vdDvss9vGc="
      on_success: always # one of: always, never, change
      on_failure: always
      on_start: never
