[Unit]
Description=load Docker image
After=local_fs.target remote_fs.target docker.service
ConditionPathExists=/root/rpi-couchdb.tar.gz

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=IMAGE=/root/rpi-couchdb.tar.gz
ExecStart=/bin/sh -c "gzip -cd $IMAGE | docker load"
ExecStart=/bin/rm $IMAGE
Restart=no

[Install]
WantedBy=multi-user.target
